################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Model/.vs/Model/DesignTimeBuild/.dtbcache.v2
